{% extends 'main/base.html' %}
{% block extrahead %}
<style>

</style>
{% endblock %}

{% block body %}

<div class="container">
    <h1>Privacy Policy</h1>

    <h2>Imformation we collect</h2>
    
    <ul>
        <li><span>Personal Information:</span>This may include your name, email address, age range (optional), and academic interests (optional). You only provide this information if you choose to create an account or contact us directly.</li>
        <li><span>Non-Personal Information:</span>We automatically collect information about your device and browser, such as IP address, browser type, operating system, and accessed pages. This data helps us optimize your experience and improve our website.</li>
        <li><span>Cookies:</span>We use cookies to store your preferences and personalize your experience. You can manage your cookie settings through your browser.</li>
    </ul>
    
    <h2>How We Use Your Information</h2>
    
    <ul>
        <li>To provide and improve our educational services.</li>
        <li>To personalize your learning experience and recommend relevant content.</li>
        <li>To personalize your learning experience and recommend relevant content.</li>
        <li>To analyze website traffic and improve the overall experience.</li>
    </ul>
    
    <h2>Transfer of Information</h2>
    
    <p>
        We donn't share your information with any third party.
    </p>
    
    <h2>Data Security</h2>
    
    <p>
        We take reasonable measures to protect your information from unauthorized access, disclosure, alteration, or destruction. However, no internet transmission is completely secure, and we cannot guarantee the security of your information on our servers.
    </p>
    
    <h2>Your Choices</h2>
    
    <ul>
        <li>You can control your cookie settings through your browser.</li>
        <li>You can access and update your personal information through your account settings.</li>
        <li>You can unsubscribe from our communications at any time by clicking the unsubscribe link in any email you receive from us.</li>
        <li>You have the right to request deletion of your personal information. To do so, please contact us at <a href="mailto:exammania2023@gmail.com">exammania2023@gmail.com</a></li>
    </ul>
    
    <h2>Children's Policy</h2>
    
    <p>
        We understand the importance of protecting children's privacy. Our website is not designed for children under the age of 13. We do not knowingly collect or solicit personal information from children under this age. If you are a parent or guardian and you believe your child has provided us with personal information, please contact us and we will delete it. 
    </p>
    
    <h2>Changes to this Privacy Policy</h2>
    
    <p>
        We may update this Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on our website. You are advised to review this Privacy Policy periodically for any changes. 
    </p>
</div>

{% endblock %}